{% block content %}
    <h1 class="title">{{ 'post.list'|trans({}, 'AcmeBlogBundle') }}</h1>

    <ul id="post-list">
        {% for post in posts %}
            <li>
                <a href="{{ path('api_1_get_post', {'id': post.id}) }}">{{ post.title }}</a>
                {#[<a href="{{ path('api_1_edit_posts', {'id': post.id}) }}">{{ 'post.edit.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}
                {#[<a href="{{ path('api_1_remove_posts', {'id': post.id}) }}">{{ 'post.remove.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}
            </li>
        {% else %}
            <li>{{ 'post.list.empty'|trans({}, 'AcmeBlogBundle') }}</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{{ path('api_1_new_post') }}">{{ 'post.new.link'|trans({}, 'AcmeBlogBundle') }}</a>
    </p>
{% endblock %}