{% block content %}
    <h1 class="title">{{ 'tag.list'|trans({}, 'AcmeBlogBundle') }}</h1>

    <ul id="tag-list">
        {% for tag in tags %}
            <li>
                <a href="{{ path('api_1_get_tag', {'id': tag.id}) }}">{{ tag.name }}</a>
                {#[<a href="{{ path('api_1_edit_posts', {'id': post.id}) }}">{{ 'post.edit.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}
                {#[<a href="{{ path('api_1_remove_posts', {'id': post.id}) }}">{{ 'post.remove.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}
            </li>
        {% else %}
            <li>{{ 'post.list.empty'|trans({}, 'AcmeBlogBundle') }}</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{{ path('api_1_new_tag') }}">{{ 'tag.new.link'|trans({}, 'AcmeBlogBundle') }}</a>
    </p>
{% endblock %}